<h1></h1>
<form action="../">
<button type="submit">Return to the main page</button>
</form>
<script>
  document.getElementsByTagName("h1")[0].style.fontSize = "6vw";
  document.getElementsByTagName("h1")[0].innerHTML = localStorage.getItem("winner") + " wins the game!"
</script> 
<style>
  body {
  font-family: system-ui;
  background-image: url(https://img.freepik.com/premium-vector/confetti-concept-design-holiday-happy-day-background-celebration_29865-1734.jpg?w=2000);
  color: black;
  text-align: center;
}
</style>
